<div class="view-mode"
     ng-init="viewMode = 'stream'">
  <ul>
    <li ng-click="viewMode = 'stream'"
        ng-class="{'active': viewMode == 'stream'}">Stream View</li>
    <li ng-click="viewMode = 'model'"
        ng-class="{'active': viewMode == 'model'}">Model View</li>
  </ul>
</div>

<!--input class="search-field"
       ng-model="search.name"
       placeholder="Field ..."-->
<div class="search-field" ></div>

<div class="view-stream"
     ng-show="viewMode == 'stream'">
  <div class="view-list">
    <div id="{{field.id}}"
        class="field {{ field.state ? 'selected' : '' }}"
        ng-repeat="field in vm.fields | filter:search:strict"
        ng-click="!vm.disableClick ? vm.onFieldSelected({field:field}) : false"
        draggable="{{!field.state &amp;&amp; !vm.disableDrag}}"
        drag-start="vm.onDragStart({field:field})"
        drag-stop="vm.onDragStop({field:field})">
        <span class="active">{{ field.name }}<span>
    </div>
  </div>
</div>

<div class="view-model"
     ng-show="viewMode == 'model'">
  <ul class="view-list">
    <li class="category"
        ng-repeat="(category, categoryGroup) in vm.categories">
      <span class="label">{{ category }}</span>
      <ul>
        <li id="{{field.id}}"
            class="field"
            ng-repeat="field in categoryGroup | filter:search:strict"
            ng-click="!vm.disableClick ? vm.onFieldSelected({field:field}) : false"
            draggable="{{!field.state &amp;&amp; !vm.disableDrag}}"
            drag-start="vm.onDragStart({field:field})"
            drag-stop="vm.onDragStop({field:field})">
            <span class="active"
                  ng-style="{ opacity : field.state ? '1' : '0' }"></span>
            {{ field.name }}
        </li>
      </ul>
    </li>
  </ul>
</div>
