body {
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
}

body, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.components-field-selector {
  width: 230px;
  float: left;
  text-align: center;
}

/* View Mode Menu */

.view-mode {
  margin: 10px;
}

.view-mode ul {
  float: left;
  left: 50%;
  position: relative;
}

.view-mode ul li{
  float: left;
  right: 50%;
  position:relative;
  padding: 7px 9px;
  border: 1px solid #ccc;
}

.view-mode ul li:first-of-type {
  border-right: none;
}

.view-mode ul li.active {
  box-shadow: 0px -3px 0px rgba(0, 93, 166, 1) inset;
  color: rgba(0, 93, 166, 1);
}

/* View List */

.view-list {
  padding: 0 0 0 22px;
  text-align: left;
  margin-top: 20px;
}

.view-list li {
  list-style-type: none;
}

.view-list li.field,
.view-list span.label {
  height: 30px;
  line-height: 30px;
  color: #000000;
}

.view-list span.label {
  font-weight: bold;
  font-size: 0.9em;
}

.view-list .category .field {
  padding-left: 10px;
}

.view-list span.active {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgba(0, 93, 166, 1);;
  float: left;
  margin: 12px 7px 0 0;
}

/* Search */

.search-field {
  width: 180px;
  height: 20px;
  padding: 3px 5px;
  margin-top: 10px;
}

/* Drop Zones */

.components-drop-zones {
  width: 230px;
  float: left;
  margin-top: 90px;
}

.drop-zone-title {
  color: rgba(150, 150, 150, 1);
  line-height: 30px;
}

.drop-zone-drop-parent-container {
    width: 190px;
    min-height: 70px;
    margin-bottom: 45px;
}

.drop-zone-drop-container {
    position: absolute;
    width: 186px;
    min-height: 70px;
    background-color: rgba(248, 248, 248, 1);
    border-top: 1px solid rgba(215, 215, 215, 1);
    color: #6c6c6c;
    padding: 10px;
}

.drop-zone-drop-container-active {
    position: absolute;
    width: 186px;
    min-height: 70px;
    background-color: rgba(204, 223, 237, 1);
    border-top: 1px solid rgba(215, 215, 215, 1);
    color: #6c6c6c;
    padding: 10px;
}

.drop-zone-disabled{
    opacity: 0.5;
    pointer-events: none;
}

#drag-field-ghost {
    background: white;
    width: 220px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.drag-field {
  color: #000000;
  background-color: #b0d9f5;
  border: 1px solid #98bdd9;
  padding: 5px;
  width: 190px;
  cursor: move;
  position: absolute;
  top: 0px;
  right: 0px;
}
