body, ul {
    margin: 0;
    padding: 0;
}

.components-wrapper {

}

.components-field-selector {
  width: 200px;
  height: 500px;
  float: left;
  background-color: #f1f1f1;
}

.components-drop-zones {
  width: 200px;
  height: 500px;
  float: left;
  background-color: #f9f9f9;
}
